@use 'shared/styles' as *;

* {
  box-sizing: border-box;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
