@use 'shared/styles' as *;

.TelIcon {
  width: 18px;
  height: 18px;
  background: url('/icons/tel-icon.svg') no-repeat center / contain;
  @include media-desktop {
    width: 20px;
    height: 20px;
  }
}
