@use 'shared/styles' as *;

.ProductCard {
  display: flex;
  flex-direction: column;
  width: 288px;
  min-height: 426px;
  margin: 0 auto; // todo
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.33);
  color: $white;
  @include font-H1;
  @include effect-hover-shadow-black;
}
