@use 'shared/styles' as *;

.Hero {
  position: relative;
  min-height: 608px;
  padding-top: 19px;
  @include media-desktop {
    min-height: 774px;
    padding-top: 123px;
  }

  &__Ui {
    position: absolute;
    bottom: 46px;
    @include media-desktop {
      bottom: 52px;
    }
  }

  &__MainProduct {
    @include media-desktop {
      padding-left: 48px;
    }
  }
}
