@use 'shared/styles' as *;

.FormInput {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(22, 28, 36, 0.04);
  color: $grey;
  caret-color: $main;
  @include font-14-reg-14_24;
  @include effect-focus-main;

  @include media-desktop {
    @include font-16-reg-16_26;
  }
}
