@use 'shared/styles' as *;

.CatalogImage {
  height: 100%;
}

.enter {
  visibility: hidden;
  scale: 0.9;
  opacity: 0;
}

.enterActive {
  visibility: visible;
  scale: 1;
  opacity: 1;
  transition:
    visibility $animateCatalogImage ease-out,
    opacity $animateCatalogImage ease-out,
    scale $animateCatalogImage ease-out;
}

:export {
  animateCatalogImage: #{$animateCatalogImage};
}
