@use 'shared/styles' as *;

.BurgerPanel {
  width: 100%;
  height: calc(100vh - 100%);
  padding-top: 8px;
  background-color: rgba($color: $white, $alpha: 0.95);

  &__LinkCallForm {
    color: $main;
    @include font-pro-display-600(16px, 24px, 0.12em);
    @include effect-hover-grey;
    @include effect-focus-main;
  }
}

.enter {
  transform: translateX(-110%);
}

.enterActive {
  transform: translateX(0);
  transition: transform $animateBurgerPanel;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-110%);
  transition: transform $animateBurgerPanel;
}

:export {
  animateBurgerPanel: #{$animateBurgerPanel};
}
