@use 'shared/styles' as *;

.BurgerPanel {
  width: 98%;
  height: 45vh;
  max-height: 812px;
  padding-top: 8px;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba($color: $white, $alpha: 0.9);
  box-shadow:
    2px 2px 8px $black,
    -2px -2px 8px $black;

  &__LinkCallForm {
    color: $main;
    @include font-pro-display-semibold(16px, 24px, 0.12em);
    @include effect-hover-grey;
    @include effect-focus-main;
  }
}

.enter {
  transform: translateX(-110%);
}

.enterActive {
  transform: translateX(0);
  transition: transform $animateBurgerPanel;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-110%);
  transition: transform $animateBurgerPanel;
}

:export {
  animateBurgerPanel: #{$animateBurgerPanel};
}
