@use 'shared/styles' as *;

.CatalogPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 790px;
  margin: 0 auto;
  padding: 32px;
  outline: 1px solid red;

  &__ButtonLinkMain {
    min-width: 164px;
    height: 40px;
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity $animateCatalogPanel;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity $animateCatalogPanel;
}

:export {
  animateCatalogPanel: #{$animateCatalogPanel};
}
