@use 'shared/styles' as *;

.HomePage {
  &__Advantages {
    padding: 40px 0;
    @include media-desktop {
      padding: 93px 0 102px;
    }
  }

  &__Categories {
    padding-bottom: 40px;
    @include media-desktop {
      padding-bottom: 101px;
    }
  }

  &__PopularProducts {
    padding-bottom: 26px;
    @include media-desktop {
      padding-bottom: 86px;
    }
  }
}
