@use './vars' as *;

@mixin effect-focus-main {
  cursor: pointer;
  &:focus-visible {
    border-radius: 2px;
    outline: $main 2px solid;
  }
}

@mixin effect-focus-primary {
  cursor: pointer;
  &:focus-visible {
    border-radius: 2px;
    outline: $primary 2px solid;
  }
}

@mixin effect-hover-main {
  cursor: pointer;
  transition: color $hover;
  user-select: none;
  &:hover {
    color: $main;
  }
}

@mixin effect-hover-grey {
  cursor: pointer;
  transition: color $hover;
  user-select: none;
  &:hover {
    color: $grey;
  }
}

@mixin effect-hover-icon {
  cursor: pointer;
  user-select: none;
  &::after {
    transition: opacity $hover;
  }
  &:hover::after {
    opacity: 1;
  }
}

@mixin effect-hover-button-main {
  cursor: pointer;
  transition:
    border-color $hover,
    background-color $hover,
    color $hover;
  user-select: none;
  &:hover {
    border-color: #56a9f8;
    background-color: #56a9f8;
    color: $white;
  }
  &:active {
    background-color: #2e81d0;
    color: $white;
  }
}

@mixin effect-hover-shadow-black {
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow $hover;
  &:hover {
    box-shadow:
      2px 2px 10px $black,
      -2px -2px 10px $black;
  }
}
