$white: #ffffff;
$black: #161c24;
$lightGrey: #c4cdd5;
$extraLightGrey: #a4a4a4;
$grey: #454f5b;
$stroke: #eaeaea;
$primary: #00999e;
$main: #4295e4;
$lightBlue: #add7ff;
$red: #e44286;
$textDisable: #adadad;
$bgLight: #f2f8ff;

$proText: 'SF Pro Text', 'Helvetica', 'Arial', sans-serif;
$proDisplay: 'SF Pro Display', 'Helvetica', 'Arial', sans-serif;
$roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$helvetica: 'HelveticaNeueCyr', 'Helvetica', 'Arial', sans-serif;

$hover: 300ms;
$animateBurgerPanel: 500ms;
$animateCatalogPanel: 500ms;
$animateCatalogImage: 1000ms;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
