@use 'shared/styles' as *;

.Header {
  box-shadow: inset 0 -1px 0 0 $lightGrey;

  &__Logo {
    display: none;
    @include media-laptop {
      display: revert;
      // margin-right: 101px;
    }
  }

  &__ButtonBurgerPanel {
    @include media-laptop {
      display: none;
    }
  }
}
