@use 'shared/styles' as *;

.ButtonLinkSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 220px;
  height: 50px;
  border: 1px solid $grey;
  border-radius: 5px;
  background-color: $white;
  @include font-button-txt;
  @include effect-hover-button-main;
  @include effect-focus-main;
}
