@use 'shared/styles' as *;

.CheckIcon {
  width: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &_Stock_True {
    height: 20px;
    background-image: url('/icons/check-icon-stock-true.svg');
  }

  &_Stock_False {
    height: 22px;
    background-image: url('/icons/check-icon-stock-false.svg');
  }
}
